[submodule "site-lisp/emacs-theme-gruvbox"]
	path = site-lisp/emacs-theme-gruvbox
	url = https://github.com/greduan/emacs-theme-gruvbox.git
[submodule "site-lisp/evil"]
	path = site-lisp/evil
	url = https://github.com/bonega/evil.git
[submodule "site-lisp/popup"]
	path = site-lisp/popup
	url = https://github.com/auto-complete/popup-el.git
[submodule "site-lisp/yasnippet"]
	path = site-lisp/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "site-lisp/powerline"]
	path = site-lisp/powerline
	url = https://github.com/milkypostman/powerline.git
[submodule "site-lisp/auto-complete"]
	path = site-lisp/auto-complete
	url = https://github.com/auto-complete/auto-complete.git
[submodule "site-lisp/airline-themes"]
	path = site-lisp/airline-themes
	url = https://github.com/AnthonyDiGirolamo/airline-themes.git
[submodule "site-lisp/auto-java-complete"]
	path = site-lisp/auto-java-complete
	url = https://github.com/emacs-java/auto-java-complete.git
